.products-items-container {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 1200px) {
    .products-items-container {
        grid-template-columns: repeat(3, 280px);
    }
}

@media (max-width: 900px) {
    .products-items-container {
        grid-template-columns: repeat(2, 280px);
    }
}

@media (max-width: 600px) {
    .products-items-container {
        grid-template-columns: repeat(1, 280px);
    }
}