/* ตัวกำหนดเลย์เอาต์หลัก */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #0056b3;
  color: white;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  height: 60px;
}

/* Navbar */
nav {
  background-color: #e9ecef;
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
  height: 60px;
}

nav .btn {
  margin: 0 5px;
}

/* Outlet  */
main {
  flex: 1 0 auto;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}



/* Animation */
#container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;   
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#field {
  background-position: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 10px 0;
  background-image: url(./img/background.jpg);
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#ball {
  border-radius: 50%;
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 150px;
  height: 150px;
}

/* Calculator */
.calculator {
  width: 320px;
  background: #d7dde0;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 0 auto;
  margin-top: 40px;

}

.screen {
  background: #f8ffff;
  color: #000;
  text-align: right;
  font-size: 28px;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 6px;
  margin-bottom: 12px;
  min-height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}

button {
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #888888;
  cursor: pointer;
  transition: 0.2s;
}

.disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

[data-num] {
  background: #90caf9;
}

[data-op] {
  background: #81c784;
}

[data-eq] {
  background: #4caf50;
  color: #fff;
}

[data-clear] {
  background: #e57373;
  color: #fff;
}

.wide {
  grid-column: span 2;
}

/* Home */
.student-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.student-info p {
  margin: 5px 0;
}

/* Login placeholder */
input::placeholder {
  color: #666 !important;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #666 !important;
}

input::-moz-placeholder {
  color: #666 !important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #666 !important;
}